:root {
    --primary-color: white;
    --secondary-color: #024e76;
    --tertiary-color: #1778F2;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}
  h2{
  text-align: center;
  font-size: 48px;
  color: black;
  margin: 25px;
}

  
  /* HEADER NAV START/ FOOTER BAR STYLE */
  
  header, footer {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding-left: auto;
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
  }
  /*Globatron*/
  .hero{
      width: 700px;
      height: 600px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  /* HEADER / NAVBAR STYLES END */
  .border {
      border-left: black;
      border-right: black;
      border-top:white;
      border-bottom: white;
      border-style: solid;
      border-radius: 10px;
  }
/*Portfolio styling*/
  .me {
      display: block;
      padding-left: 30%;
      padding-right: 30%;
      color: black;
 
  }
  .me p{
      color: black;
      font-size: large;
    }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px;
    border-color: black;
    border-style: solid; 
  }

  
  /* Create 2 equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 100%;
    padding: 10px;
    position: relative;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  /* zoom in css feature for images */
  .zoom {
    padding: 5px;
    background-color: black;
    transition: transform .2s; /* Animation time */
    width: 200px;
    height: 300px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.05); /* 105% zoom to prevent overlap */
  }
/* text overlay on images*/
.center {
  position: absolute;
  top: 47%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: x-large;
}
.center2 {
  position: absolute;
  top: 95%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: x-large;
}

.contact{
  display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px;
    border-color: black;
    border-style: solid; 
    font-size: 25px;
    margin-bottom: 50px;
}
